{% extends "adminhome.html" %}
{% load static %}
{% block content %}
<style>
  form{
    margin-left: 282px;
  }
  .head{
    margin-left: 775px;
    font-size: 35px;
    color: silver;
    margin-top: 25px;
  }
  input{
    border-radius: 5px;
    width: 220px;
    height: 32px;
  }
  #name{
    margin-left: 475px;
  }
  #qual{
    margin-left: 474px;
    margin-top: 15px;
  }
  #mob{
    margin-left: 473px;
  }
  #addr{
    margin-left: 471px;
  }
  #rew{
    margin-left: 470px;
    margin-top: 15px;
  }
  .button{
    width: 20px;
    margin-left: 450px;
    margin-top: 25px;
  }
  #button{
    background-color: #6cc7ea;
  }
</style>
<div class="head"><b>Edit Details</b></div><hr>
  <form action="{% url 'editscargo' %}?c={{d.cargoid}}" method="post">
        {% csrf_token %}
      
    <div class="row mt-3">
      <div class="form-group col-md-6" id="name">
        <label for="title"><b>Weight</b></label><br>
        <input type="text" id="title" name="t1" value="{{d.weight}}"><br>
      </div>
      <div class="form-group col-md-6" id="qual">  
        <label for="role"><b>Price</b></label><br>
        <input type="number" id="role" name="t2" value="{{d.price}}"><br>
      </div>
    </div>
    <div class="row mt-3">
      <div class="form-group col-md-6" id="mob">
        <label for="designation"><b>From address</b></label><br>
        <input type="text" id="designation" name="t3" value="{{d.fromaddress}}"><br>
      </div>
    <div class="row mt-3">
      <div class="form-group col-md-6" id="addr">
        <label for="experience"><b>To address</b></label><br>
        <input type="text" id="experience" name="t4" value="{{d.toddress}}"><br>
      </div>
      <div class="form-group col-md-6" id="rew">
        <label for="experiencein"><b>Landmark</b></label><br>
        <input type="text" id="experiencein" name="t5" value="{{d.landmark}}"><br>
      </div>
    </div>
    <br>
    <div class="button">
    <button type="submit" id="button" value="Submit">Update</button>
    </div>
  </form> 
{% endblock %}